@model List<Ejemplo.MVC.Dominio.Entidades.Cliente>
@{
    ViewBag.Title = "Home Page";
}
<h2>Clientes</h2>
<p>
    Nuestros clientes.
</p>
<div>
    Quieres crear un cliente nuevo? <a href="/Clientes/Nuevo">Has click aquí.</a>
</div>
<br />
<div>
    @foreach (var cliente in Model)
    {
        <div class="row">

            <div class="col-md-3">
                @cliente.Nombre.ToUpper()
            </div>
            <div class="col-md-3">
                @cliente.Apellido.ToUpper()
            </div>
            <div class="col-md-3" style="text-align: right">
                @cliente.FechaNacimiento.ToShortDateString()
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               Localidad: @cliente.NombreLocalidad.ToUpper()
            </div>
            <div class="col-md-3" style="text-align: right">
                <a href="/Clientes/Detalle/@cliente.Id">Ver</a>
            </div>
        </div>
        <br />
    }
</div>
